<!DOCTYPE html>
<html lang="en">
<!-- jinja --> 
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Cards</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">


    <script>
	function executePost(url,callback,doc_name){
		 var xhttp;
          xhttp=new XMLHttpRequest();
	  
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                callBack(this);
            }
          };
	xhttp.open('POST',url,true);
	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhttp.send("doc="+doc_name);
	}
	


        function executeAjax(url, callBack,docs) {
          var xhttp;
          xhttp=new XMLHttpRequest();
	  
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                callBack(this);
            }
          };
          xhttp.open('GET',url,true);

          xhttp.send();


        }
        function myFunction(xhttp) {
          document.getElementById("demo").innerHTML = "ABCD";
	        
	}
	function supp(a){
		var table = document.getElementById("notify");
		var rowCount = table.rows.length;
		var row = table.insertRow(rowCount);
		var cell1 = row.insertCell(0);
		cell1.innerHTML = '<a href="/desk#Form/Purchase%20Invoice/'+a+'">'+a+'</a>';
		var cell2 = row.insertCell(1);
		cell2.innerHTML = "Email sent Successfully To Approve the Invoice";
		
         
	}
    </script>    

</head>

<body id="page-top">
    <div id="result"> 

    </div>
<div id="demo"> 

    </div>


    <!-- Page Wrapper -->
    <div id="wrapper">

     
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{%set comp=frappe.db.get_value("User",frappe.session.user,"username")%}
{%if comp%}{{comp}} Dashboard{%else%}{{frappe.session.user}} Dashboard{%endif%}</h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Due Amount</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
						{%set val=frappe.db.get_list('Purchase Invoice',fields=['name','supplier_name','workflow_state','outstanding_amount','due_date'],filters=[['workflow_state', 'in', ['To Bill']]])%}
		{%set total=[0]%}
		{%- for row in val-%}
					    {% if total.append(total.pop()+ row["outstanding_amount"]) %}{% endif %}
		{%-endfor-%}
						{{total[0]}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Invoices</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
					{%set val=frappe.db.get_list('Purchase Invoice',fields=['name','supplier_name','workflow_state','outstanding_amount','due_date'],filters=[['workflow_state', 'in', ['Submitted']]])%}
		{%set total=[0]%}
		{%- for row in val-%}
					    {% if total.append(total.pop()+ 1) %}{% endif %}
		{%-endfor-%}
						{{total[0]}}
			
					

					</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">WIP
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
							{%set val=frappe.db.get_list('Purchase Invoice',fields=['name','supplier_name','workflow_state','outstanding_amount','due_date'],filters=[['workflow_state', 'in', ['Pending']]])%}
		{%set total=[0]%}
		{%- for row in val-%}
					    {% if total.append(total.pop()+ 1) %}{% endif %}
		{%-endfor-%}
						{{total[0]}}
						</div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Approved</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{%set val=frappe.db.get_list('Purchase Invoice',fields=['name','supplier_name','workflow_state','outstanding_amount','due_date'],filters=[['workflow_state', 'in', ['To Bill']]])%}
		{%set total=[0]%}
		{%- for row in val-%}
					    {% if total.append(total.pop()+ 1) %}{% endif %}
		{%-endfor-%}
						{{total[0]}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                          
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Purchase Invoice Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card shadow mb-4">
                                            <div class="table-responsive">
						<div class="scrollit">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Invoice Document</th>
                                                            <th>Supplier</th>	
                                                            <th>Due Date</th>
                                                            <th>Amount</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      {%- for row in data -%} 
                                                        
                                                        <tr>
                                                            <td>{{row.name}}</td>
                                                            <td>{{row.supplier_name}}</td>	
                                                            <td>{{frappe.utils.get_datetime(row.due_date).strftime('%d-%m-%Y')}}</td>
                                                            <td>{{row.outstanding_amount}}</td>
                                                            <td>
                                                                <a href="#"  onclick="executePost('/api/method/seabridge_app.seabridge_app.api.web_form_call', myFunction,'{{row.name}}'),supp('{{row.name}}')"   class="btn btn-primary btn-icon-split">
                                                                    <span class="icon text-white-50">
                                                                        <i class="fas fa-flag"></i>
                                                                    </span>
                                                                    <span class="text">{%if row.workflow_state=="Submitted" or row.workflow_state=="Pending"%}Approve
									{%else%}
									Submit{%endif%}
								</span>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                        {%-endfor-%}
	
                                    
                                                    </tbody>
                                                </table>
						</div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                         
		<div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Notifications</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card shadow mb-4">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="notify" width="100%" cellspacing="0">
						<thead>
							<tr>
                                                            <th>Invoice</th>
							<th>Message</th>
                                                           </tr>
                                                        </tr>
                                                        <tr>
							<td id="result1"><a href="/desk#Form/Purchase%20Invoice/">PUR-INV-00072</a></td>
                                                            <td id="result2">Email sent Successfully To Approve the Invoice</td>
                                                            
                                                        </tr>
						</thead>
					</table>
					</div>
					</div>
				</div>
		</div>
		<iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials">
</iframe>

                        </div>

                    </div>
	
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
