include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include seabridge *.css
recursive-include seabridge *.csv
recursive-include seabridge *.html
recursive-include seabridge *.ico
recursive-include seabridge *.js
recursive-include seabridge *.json
recursive-include seabridge *.md
recursive-include seabridge *.png
recursive-include seabridge *.py
recursive-include seabridge *.svg
recursive-include seabridge *.txt
recursive-exclude seabridge *.pyc